/* styles.css */

#dark-mode-popup {
    background-color: rgba(24, 26, 27, 0.93); /* Dark background color */
    color: #fff; /* Light text color */
}

/* Example of styling button with dark background and light text */
button {
    background-color: rgb(64, 69, 71); /* Dark button background color */
    color: #fff; /* Light button text color */
}

/* Adjust other styles as needed for your popup elements */
